.container {
  width: min(23rem, 90%);
  margin: 5rem auto 0;
}
.form {
  border-radius: 0.75rem;
  background-color: white;
  /* padding: 2rem 3rem; */
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}
.title {
  color: #26334d;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2.5rem;
}
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid #ddd;
  font-size: 0.75rem;
  /* color: var(--black-90); */
  color: #d32626;

  font-weight: 500;
}
.login-button {
  background: #3361ff;
  border-radius: 5px;
  width: 100%;
  height: 3.125rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.not-authorized {
  width: 90%;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
